@font-face {
  font-family: Montserrat;
  src: url("https://fonts.google.com/specimen/Montserrat");
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin-left: 50px;
  background-color: #1c143f;
  color: white;
  margin-top: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 30%;
  font-size: 30px;
  padding-top: 40px;
}
.nav-item {
  padding: 10px;
  margin: 0 50px;
}

.nav-items {
  width: 80%;
  text-align: right;
  padding-top: 10px;
  text-transform: uppercase;
  background-color: #46c8f5;
  height: 70px;
  width: 200%;
  top: 0;
  background: #46c8f5;
  border-bottom-left-radius: 100%;
  padding-top: 40px;
}
.img-content {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 100px;
}
.left-content-1 {
  font-size: 70px;
  padding: 20px 0;
}
.left-content-2 {
  font-size: 25px;
  padding: 10px 0;
}
.left-content-3 {
  width: 300px;
  padding: 10px 0;
}
.left-content-4 {
  padding: 10px 0 0 15px;
  font-size: 25px;
}
.left-content-5 {
  font-size: 20px;
}
.left-content-6 {
  border-radius: 50px; /*1*/
  border: 10px solid transparent; /*2*/
  background: linear-gradient(45deg, #46c8f5, #1c143f) border-box;
  padding: 10px 15px;
  margin-left: 60px;
  width: 65px;
  -webkit-mask: ; /*4*/
}
