* {
  font-family: Orbitron;
}
.main{
  max-width: 100vw;
  width: 1500px;
  height: 100vh;
  overflow: hidden;
  margin-left: 100px;

}
body {
  background-color: #1c143f;
  color: white;
  margin: 0;
  
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 30%;
  font-size: 30px;
  padding-top: 40px;
}
.nav-item {
  padding: 10px;
  margin: 0 50px;
}

.nav-items {
  width: 80%;
  text-align: right;
  padding-top: 10px;
  text-transform: uppercase;
  background-color: #46c8f5;
  height: 70px;
  width: 200%;
  top: 0;
  background: linear-gradient(45deg, #46c8f5, #04b0ff) border-box;
  border-bottom-left-radius: 100%;
  padding-top: 40px;
  filter: drop-shadow(0 0 0.75rem #46c8f5);
}
.img-content {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: -40px;
}
img{
  width: 700px;
  height: 520px;
  filter: drop-shadow(0 0 0.75rem #46c8f5);
}
.left-content-1 {
  font-size: 70px;
  padding: 10px 0;
  font-weight: bold;
}
.left-content-1 p {
  padding: 0;
  color: #04b0ff;
  margin: -10px 0;
}
.left-content-2 {
  font-size: 25px;
  padding: 10px 0;
  color: #04b0ff;
}
.left-content-3 {
  width: 300px;
  padding: 10px 0;
}
.left-content-4 {
  padding: 10px 0 0 15px;
  font-size: 25px;
  color: #04b0ff;
}
.left-content-5 {
  font-size: 20px;
}
.left-content-6 {
  background: linear-gradient(to right, #05fbff, #0e69d1);
  border-radius: 50px;
  color: #122dff;
  display: inline-block;
  font-size: 20px;

  text-decoration: none;
  padding: 5px 35px;
  margin-left: 30px;
  width: 95px;
}

.left-content-6 a {
  background: #1c143f;
  display: block;
  padding: 10px 40px;
  border-radius: 50px;
  align-items: center;
  width: 80px;
  float: left;
  margin-left: -33px;
  filter: drop-shadow(0 0 0.75rem #46c8f5);
}

@media only screen and (max-width: 1100px){
  .main{
    margin: 0 0 0 10px;
    padding: 0%;  
    overflow: auto;
    font-size:10px;
}
  body{
    margin: 0;
    padding: 0;
  }
  .navbar{
    width: 100%;
  }
  .nav-item{
    display: block;
    }
  .left-content-1{
    margin-top: 100px;
  }
  .img-content{
    width: 600px;
  }

}

@media only screen and (max-width: 280px){
  .main{
    font-size: 8px;
  }
  .left-content-1{
    font-size: 60px;
  }
  .left-content-5{
    font-size: 10px;
  }
  .left-content-6{
    font-size: 10px;
  }
}

